{% extends "base.html" %}
{% block title %}All requests{% endblock %}
{% block content %}
{% if pages %}
<div id="main">
<div class="page-header text-center">
    <h2>Previous requests</h2>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Request date</th>
            <th>Remote IP</th>
            <th>Request method</th>
            <th>Scheme</th>
            <th>Query string</th>
            <th>Query parameters</th>
            <th>Cookies</th>
            <th>Headers</th>
        </tr>
    </thead>
    {% for record in pages %}
    <tr>
        <td class="date">{{ record.req_date|date:"M d, Y H:i:s" }}
        </td>
        <td>{{ record.rem_ip }}</td>
        <td>{{ record.req_method }}</td>
        <td>{{ record.scheme }}</td>
        <td>{{ record.query_string }}</td>
        <td>
            {% for k,v in record.query_parameters.items %}
                <b>{{ k }}:</b><br>
                {% for kV,Vv in v.items %}
                    {{kV}}:{{Vv}}<br>
                {% endfor %}
            {% endfor %}
        </td>
        <td>{% for cook, val in record.cookies.items %}
            <b>{{ cook }}</b>={{ val }}<br   >
            {% endfor %}
        </td>
        <td><div class="headers">
            {% for key, value in record.headers.items %}
                <b>{{ key }}</b> -- {{ value }}<br>
            {% endfor %}</div>
        </td>
    </tr>
    {% endfor %}
    </table>
<div class="footer text-center">
    <div class="pagination">
        <ul class="pagination">
            {% if pages.has_previous %}
                <li>
                    <a href="?page={{ pages.previous_page_number }}">Previous</a>
            {% else %}
                <li class="disabled">
                    <a href="#">Previous</a>
            {% endif %}
                </li>
            {% for k in pages.paginator.page_range %}
                <li class="active">
                    <a href="?page={{k}}">
                        {% if pages.number == k %}
                           <span class="current_page">{{k}}</span>
                        {% else %}
                            {{k}}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
            {% if pages.has_next %}
                <li>
                    <a href="?page={{ pages.next_page_number }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
{% else %}
    <p>No data to display</p>
{% endif %}
    </div>
{% endblock %}