{% extends "base.html" %}
{% block title %}List of traps{% endblock %}
{% block content %}
{% if all_traps %}
<div id="main">
    <div class="text-center">
        <h2>List of traps</h2>
    </div>
    <div class="center-content">
    <table class="table custom-table table-hover">
        <thead>
            <tr>
                <td>ID</td>
                <td>Trap name</td>
                <td>Created:</td>
                <td>Number of requests</td>
                <td>Trap URL</td>
            </tr>
        </thead>
        <tbody >
        {% for trap in all_traps %}
            <tr>
                <td class="centered">{{trap.id}}</td>
                <td class="centered">{{trap.name}}</td>
                <td class="centered">{{trap.creation_date}}</td>
                <td class="centered">1</td>
                <td class="centered"><a href="#">http://127.0.0.1:8000/traps-list/overview/trapID=1</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% else %}
    <p>No data to display</p>
{% endif %}

{% endblock %}