{% extends "base.html" %}
{% block title %}Current request page{% endblock %}
{% block content %}
{% if cur_req %}
<div class="page-header text-center">
    <h2>Current request</h2>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Request date</th>
            <th>Remote IP</th>
            <th>Request method</th>
            <th>Scheme</th>
            <th>Query string</th>
            <th>Query parameters</th>
            <th>Cookies</th>
            <th>Headers</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td class="date">{{ cur_req.req_time|date:"M d, Y H:i:s" }}</td>
           <td>{{ cur_req.rem_ip }}</td>
           <td>{{ cur_req.req_method }}</td>
           <td>{{ cur_req.scheme }}</td>
           <td>{{ cur_req.query_string }}</td>
           <td>
                {% for k,v in cur_req.query_parameters.items %}
                {{k}}: <br>
                    {% for vk, vv in v.items %}
                    <b>{{vk}} :</b> {{vv}}<br>
                    {% endfor %}
                {% endfor %}
           </td>
           <td>{% for cook, val in cur_req.cookies.items %}
               <b>{{ cook }}</b>={{ val }}<br   >
               {% endfor %}
           </td>
           <td>
               <div class="headers"> {% for key, value in cur_req.headers.items %}
                    <b>{{ key }}</b> -- {{ value }}<br>
                    {% endfor %}
               </div>
           </td>
        </tr>
    </tbody>
</table>
{% else %}
    <p>No data to display</p>
{% endif %}
{% endblock %}