<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<link rel="icon" type="image/png" href={% static "img/favicon.ico" %}/>
<head>
    <meta charset="UTF-8">
    <title>Current request page</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
{% if req_array %}
<table border="1">
   <caption>Current request</caption>
   <tr>
    <th>Request date</th>
    <th>Remote IP</th>
    <th>Request method</th>
    <th>Scheme</th>
    <th>Query string</th>
    <th>Query parameters</th>
    <th>Cookies</th>
    <th>Headers</th>
   </tr>
    <tr>
       <td class="date">{{ req_array.req_time|date:"M d, Y H:i:s" }}
       </td>
       <td>{{ req_array.rem_ip }}</td>
       <td>{{ req_array.req_method }}</td>
       <td>{{ req_array.scheme }}</td>
       <td>{{ req_array.query_string }}</td>
       <td>{% for k,v in req_array.query_parameters.items  %}
           {{ k }} = {{ v }}<br>
           {% endfor %}
       </td>
       <td>{% for cook, val in req_array.cookies.items %}
           <b>{{ cook }}</b>={{ val }}<br   >
           {% endfor %}
       </td>
       <td><div class="headers"> {% for key, value in req_array.headers.items %}
        <b>{{ key }}</b> -- {{ value }}<br>
        {% endfor %}</div>
       </td>
   </tr>
    </table>
{% else %}
    <p>No data to display</p>
{% endif %}
</body>
</html>