<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% if req_array %}
<table border="1">
   <caption>Current request</caption>
   <tr>
    <th>Request date</th>
    <th>Remote IP</th>
    <th>Request method</th>
    <th>Scheme</th>
    <th>Query string</th>
    <th>Query parameters</th>
    <th>Cookies</th>
    <th>Headers</th>
   </tr>
    <tr>
       <td>{{ req_array.req_time }}</td>
       <td>{{ req_array.rem_ip }}</td>
       <td>{{ req_array.req_method }}</td>
       <td>{{ req_array.scheme }}</td>
       <td>{{ req_array.query_string }}</td>
       <td>{{ req_array.query_parameters }}</td>
       <td>{{ req_array.cookies }}</td>
       <td>{{ req_array.headers }}</td>
   </tr>
    </table>
{% else %}
    <p>No data to display</p>
{% endif %}
</body>
</html>