@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#category_form input{
    margin-bottom:0;
}

#content h2{
    font-family: 'Open Sans', sans-serif;
}

.date{
    width: auto;
}
table td{
    width: auto;
    text-align: center;
}
.headers{
    text-align: left;
    margin-left: 10px;
}
.param{
    margin: 15px auto;
    width: 50%;
}
.current_page{
    color: #08c;
}
.top_padding{
    padding-top: 250px;
}
.center-content{
    width: 75%;
    margin: 0 auto;
}

.custom-table{
    border: 1px solid black;
}
.table th, .table td{
    text-align: center;
}

.custom-table thead tr{
    font-size: 19px;
}

.custom-table tbody tr{
    font-size: 16px;
}

.custom-table tbody tr a{
    color: #003b9b;
}

.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th{
    background-color: #ff7;
}
#main {
   position: absolute;
   width: 100%;
   height: 100%;
}
#main:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/bg_table.png");
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    opacity : 0.6;
    z-index: -1;
}
#main_test{
    position: absolute;
    width: 100%; 
}
#main_test:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/bg_table.png");
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    opacity : 0.6;
    z-index: -1;
}